<div class="m-auto p-4 flex gap-2 w-dvw h-dvh md:w-fit">
  <div class="flex flex-col justify-center align-middle w-1/2">
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <div class="flex flex-col justify-center align-middle">
        <input formControlName="name"
          class="outline-1 p-0.5 rounded-md outline-blue-400 focus:outline-2 focus:outline-blue-500 mb-2 text-gray-500"
          type="text" placeholder="Enter task name">
        <textarea formControlName="description"
          class="outline-1 p-0.5 rounded-md outline-blue-400 focus:outline-2 focus:outline-blue-500 text-gray-500 mb-2"
          type="text" name="" id="" placeholder="Enter task description"></textarea>
        <button type="submit"
          class="bg-blue-600 hover:bg-blue-500 cursor-pointer text-gray-300 font-semibold p-0.5 rounded-md">Add
          Task</button>

      </div>
    </form>
  </div>

  @if (tasks.length > 0) {
  <div class="relative overflow-x-auto border-l border-gray-300 pl-0.5 m-auto text-sm">
    <div class="mb-4 flex justify-between">
      <span class="font-semibold text-3xl text-emerald-600 text-center">{{username}}'s Tasks</span>
      <span>
        <button class="bg-gray-600 hover:bg-gray-500 cursor-pointer text-gray-300 font-semibold p-0.5 rounded-md"
          (click)="clearTasks()">Clear Tasks</button>
      </span>
    </div>
    <table class="w-full text-md text-left rtl:text-right text-gray-500">
      <thead>
        <tr>
          <th class="px-6 py-3">Task ID</th>
          <th class="px-6 py-3">Name</th>
          <th class="px-6 py-3">Description</th>
          <th class="px-6 py-3">Status</th>
          <th class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      @for (task of tasks; track task;let idx=$index) {
      <tbody>
        <tr class="bg-white border-b border-gray-200">
          <td class="px-6 py-4">
            {{task.id}}
          </td>
          <td class="px-6 py-4">
            {{task.name}}
          </td>
          <td class="px-6 py-4">
            {{task.description}}
          </td>
          <td class="px-6 py-4">
            @if (task.isCompleted) {
            Completed
            }@else {
            Pending
            }
          </td>
          <td class="px-6 py-4 flex gap-2">
            <button class="bg-red-600 hover:bg-red-500 cursor-pointer text-white font-semibold p-0.5 rounded-md"
              (click)="deleteTask(task.id)">Delete</button>

            @if(task.isCompleted){
            <button class="bg-green-600 hover:bg-green-500 cursor-pointer text-white font-semibold p-0.5 rounded-md"
              (click)="toggleTaskCompletedStatus(task.id)">Mark as
              Incomplete</button>
            }@else{
            <button class="bg-green-600 hover:bg-green-500 cursor-pointer text-white font-semibold p-0.5 rounded-md"
              (click)="toggleTaskCompletedStatus(task.id)">Mark as
              Complete</button>
            }

          </td>
        </tr>
      </tbody>
      }
    </table>
  </div>
  }@else {
  <div class="relative border-l border-gray-300 pl-0.5 m-auto">
    <h1 class="font-semibold text-4xl text-gray-300 text-center">{{username}} has no tasks. Add task to keep track of
      them</h1>
  </div>
  }
</div>

<router-outlet />